<mat-toolbar color="primary">
  <button mat-icon-button id="menu" (click)="navService.appDrawer.opened ? navService.closeNav() : navService.openNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="TopToHome" (click)="goToHome()">SHAREDWAREHOUSE</span>
  <div style="text-align: center;width: 100%">
    <span>{{navService.title | translate}}</span>
  </div>

<div class="username" style="margin: 0 1rem"><span>{{cookieService.get('username')}}</span></div>
  <span class="spacer"></span>
  <div> <!--  fxShow="true" fxHide.lt-sm="true" -->
    <mat-select class="mat-select-theme" [(value)]="currentTheme" [ngClass]="currentTheme" (selectionChange)="onChangeTheme($event)" style="margin-right: 10px">
      <mat-option value="default">Default</mat-option>
      <mat-option value="athena">Athena</mat-option>
      <mat-option value="poseidon">Poseidon</mat-option>
      <mat-option value="hera">Hera</mat-option>
      <mat-option value="zeus">zeus</mat-option>
    </mat-select>
    <mat-select class="mat-select-language" [(value)]="selectedLanguage" [ngClass]="selectedLanguage" (selectionChange)="onChangeLanguage($event)">
      <mat-option [value]="lang.code" *ngFor="let lang of environment.LANGS">
        <img class="logo" [src]="lang.logo">
      </mat-option>
    </mat-select>
  </div>
</mat-toolbar>
